{% extends 'shared/base.html' %}

{% load staticfiles %}

{% block content %}
    <title>Department</title>

    <section id="department_details">
        <h1>Department:  {{ department.dept_name }}</h1>

        <div>Budget:  {{ department.budget }}</div>
    </section>
    <ul>

    {% for employee in all_employees %}

    {% if employee.department_id is department.id %}
    {% if employee.is_supervisor is 1 %}

      <li><b>{{employee.first_name}}</b></li>

    {% else %}

        <li>{{employee.first_name}}</li>


    {% endif %}
    {% endif %}

    {% endfor %}

    </ul>

{% endblock %}
