{% extends 'shared/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Details</title>
</head>

<body>
    {% block content %}
    <section id="employee-details">
        <h1> Name:  {{ employee.first_name }} {{ employee.last_name}}</h1>
        <h2> Start Date: {{ employee.start_date}}<h2>
        <h2>Department: {{ employee.department.dept_name }}</h2>
        <h2>Assigned Computer:
        <li>Computer Id: {{employee.computer_id}} </li>
        <li>Manufacturer: {{employee.manufacturer}} </li>
        <li>Model: {{employee.model}} </li>
         <h1>Future: {{employee.training_program.training_start_date}}</h1>
    </section>
            <form action="{% url 'hrapp:employee_edit_form' employee.id %}" method="GET">
            {% csrf_token %}
            <button>Edit</button>
        </form>
    {% endblock %}
</body>

</html>