{% extends 'shared/base.html' %}
{% block content %}
<body>
    <h1>Employee</h1>
    {% if employee.id is not None %}
        <form action="{% url 'hrapp:employee_list' employee.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <label for="first_name">First Name: </label>
            <input id="first_name" type="text" name="first_name" value="{{ employee.first_name }}">
        </fieldset>
        <fieldset>
            <label for="last_name">Last Name: </label>
            <input id="last_name" type="text" name="last_name" value="{{ employee.last_name }}">
        </fieldset>
        <fieldset>
            <label for="start_date">Start Date: </label>
            <input id="start_date" type="number" name="start_date" value="{{ employee.start_date }}">
        </fieldset>
        <fieldset>
            <label for="is_supervisor">Is supervisor </label>
            <option id="is_supervisor" type="text" name="is_supervisor" value="{{ emplpoyee.is_supervisor }}">
        </fieldset>
        {% comment %} <fieldset>
            <label for="location">Library: </label>
            <select id="location" type="text" name="location">
                {% for library in all_libraries %}
                <option {% if department.id == dep.location_id %}selected{% endif %} value="{{ library.id }}">
                    {{ library.title }}</option>
                {% endfor %}
            </select>
        </fieldset> {% endcomment %}

        {% if employee.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input type="submit" value="Update" />
        {% else %}
            <input type="submit" value="Create" />
        {% endif %}

    </form>
</body>
{% endblock %}
</html>