{% extends 'shared/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Details</title>
</head>

<body>
    {% block content %}
    <section id="employee-details">
        <h1> Name:  {{ employee.first_name }} {{ employee.last_name}}</h1>
        <h2> Start Date: {{ employee.start_date}}<h2>
        <h2>Department: {{ employee.department.dept_name }}</h2>
        <h2>Assigned Computer:
        <li>Computer Id: {{employee.computer_id}} </li>
        <li>Manufacturer: {{employee.manufacturer}} </li>
        <li>Model: {{employee.model}} </li>
        </h2>
        <h2> Previous Training:


    </section>
    {% endblock %}
</body>

</html>