{% extends 'shared/base.html' %}

{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Employees</title>
</head>

{% block content %}
<body>
    <section id="employee-details">
        <h2>{{ employee.first_name }}</h2>
        <h2> {{ employee.last_name }}</h2>

        {% comment %} <div>Start Date{{ employee.year_published }}</div> {% endcomment %}
        {% comment %} <div>is: {{ employee.is_supervisor }}</div> {% endcomment %}
        {% comment %} <div>Located in the {{ employee.location.title }}</div>
        <div>Registered by {{ employee.librarian.first_name }} {{ employee.librarian.last_name }}</div> {% endcomment %}
    </section>

    <section id="employee-actions" style="display:flex;">
        <form action="{% url 'hrapp:employee' employee.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button>Delete</button>
        </form>

        <form action="{% url 'libraryapp:employee_edit_form' employee.id %}" method="GET">
            {% csrf_token %}
            <button>Edit</button>
        </form>
    </section>
</body>
{% endblock %}

</html>