{% extends 'shared/base.html' %}

{% block content %}
<h1>Computers</h1>
<a href="{% url 'hrapp:computer_form' %}">Add Computer</a>
<ul>
{% for computer in all_computers %}

    <li>
        Computer Model: {{computer.manufacturer}} {{computer.model}}
        <br>
        Purchase date: {{computer.purchase_date}}
        <br>
        Decommission date: {{computer.decommission_date}}
        {% comment %} <a href="{% url 'hrapp:computer_list' computer.id %}"> Detials </a> {% endcomment %}
    </li>
{% endfor %}
</ul>
{% endblock content %}

