<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bangazon</title>
  </head>
  <body>
    {% extends 'shared/base.html' %}
    {% block content %}
    <section id="training-details">
        <h1>{{ training.title }}</h1>
        <div>Description: {{ training.description }}</div>
        <div>Start Date: {{ training.start_date }}</div>
        <div>End Date: {{ training.end_date }}</div>
        <div>Capacity: {{ training.capacity }}</div>

    </section>
    <section id="training-actions" style="display:flex;">
        <form action="{% url 'hrapp:training_details' training.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button>Delete</button>
        </form>
        <form action="{% url 'hrapp:training_edit_form' training.id %}" method="GET">
            {% csrf_token %}
            <button>Edit</button>
        </form>
    </section>
    {% endblock %}
  </body>
</html>